<h1>SiP - ATS</h1>
<ul>
	<li><a href="/dptos">Departamentos</a></li>
	<li><a href="/equipments">Impressoras</a></li>
	<li><a href="/computers">Computadores</a></li>
	<li><a href="/reports">Relatórios</a></li>
</ul>