body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: 333;
}

.computers_list, .equipments_list{
	float: left;
	width: 100%;

	thead{
		width: 100%;
		float: left;

		th{
			width: 160px;
			text-align: center;
		}
		.ip{
			width: 52px !important;
		}
	}

	.fields{
		float: left;
		width: 100%;
		cursor: pointer;

		td{
			padding: 5px;
			width: 150px;
			float: left;
			background: #fff;
			margin: 0 2px 0 0;
			border:  1px solid #fff;
			text-align: center;
			height: 20px;
		}

		.ip{
			width: 40px;
		}

		.actions{
			display: none;
			background: #ccc;
		}

	}

	.fields:hover .actions{
		display: inline;
	}

	.fields:hover{
		opacity: .6;
	}

	.fields:nth-child(2n+1) .actions{
		background: #ccc;
	}

	.fields:nth-child(2n+1):hover{
		opacity: .6;
	}

	.fields:nth-child(2n+1) td{
		padding: 5px;
		width: 150px;
		float: left;
		background: #e0f1ff;
		border: 1px solid #d8e7ed;
	}
	.fields:nth-child(2n+1) td:first-child{
		border-left-width: 0;
	}
	.fields:nth-child(2n+1) td:nth-last-child(2){
		border-right-width: 0px;
	}

	.fields td:last-child, .fields:nth-child(2n+1) td:last-child{
		border: 0px;
	}

	.fields:nth-child(2n+1) .ip{
		width: 40px;
		text-align: center;
	}
}

.computers_list, .edit_computer, #new_computer, .equipments_list, .edit_equipment, #new_equipment{
	float: left;
	width: 100%;

	thead{
		width: 100%;
		float: left;

		th{
			float: left;
			width: 160px;
			text-align: center;
		}
		.ip{
			width: 52px !important;
		}
	}

	.fields div, .fields td{
		float: left;
		width: 150px;
		padding: 5px;
		margin-right: 4px;

		input, select{
			width: 100%;
		}
	}
	.fields .ip{
		width: 40px;
		input{
			width: 40px;
		}
	}
	.fields .actions{
		input{
			width: 100px;
		}
	}
}

#new_computer, #new_equipment{
	.fields{
		background: none;
	}
}