@font-face {
  font-family: "Open Sans";
  src: url("OpenSans-Regular.ttf"), url("OpenSans-Bold.ttf"), url("OpenSans-BoldItalic.ttf"), url("OpenSans-Italic.ttf"), url("OpenSans-Light.ttf"), url("OpenSans-LightItalic.ttf"), url("OpenSans-SemiBold.ttf"), url("OpenSans-SemiBoldItalic.ttf"); }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: 333;
  background: #f9f9f9; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0; }

.container {
  width: 80%;
  margin: 0 auto;
  padding-right: 20px; }

header {
  width: 100%;
  height: 50px;
  float: left;
  background: #f1f1f1;
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0px #cccccc;
  margin: 0 0 10px 0; }
  header .logo {
    float: left;
    margin: 0 10px 0 0; }
    header .logo img {
      float: left;
      margin: 8px 5px 0 0; }
    header .logo span {
      font-size: 40px;
      padding: 0;
      line-height: 50px; }

.main_content {
  float: left;
  width: 100%;
  padding: 10px; }

footer {
  float: left;
  width: 100%;
  text-align: center;
  margin: 60px 0 40px 0;
  font-size: 12px; }
  footer .container {
    border-top: 1px solid #cccccc; }
  footer p, footer a {
    color: #a1a1a1; }

.computers_list, .equipments_list, .dptos_list, .subdptos_list {
  float: left;
  padding: 0; }
  .computers_list thead, .equipments_list thead, .dptos_list thead, .subdptos_list thead {
    width: 100%;
    float: left; }
    .computers_list thead th, .equipments_list thead th, .dptos_list thead th, .subdptos_list thead th {
      width: 160px;
      text-align: center;
      float: left;
      background: #0b61a4;
      color: #fff;
      padding: 7px 0;
      margin: 0 0 -10px 0; }
    .computers_list thead th:first-child, .equipments_list thead th:first-child, .dptos_list thead th:first-child, .subdptos_list thead th:first-child {
      border-radius: 3px 0 0 0; }
    .computers_list thead th:last-child, .equipments_list thead th:last-child, .dptos_list thead th:last-child, .subdptos_list thead th:last-child {
      border-radius: 0 3px 0 0; }
    .computers_list thead .ip, .equipments_list thead .ip, .dptos_list thead .ip, .subdptos_list thead .ip {
      width: 40px !important; }
  .computers_list .fields, .equipments_list .fields, .dptos_list .fields, .subdptos_list .fields {
    float: left;
    width: 90%;
    cursor: pointer; }
    .computers_list .fields td, .equipments_list .fields td, .dptos_list .fields td, .subdptos_list .fields td {
      padding: 5px;
      width: 160px;
      float: left;
      background: #fff;
      text-align: center;
      height: 30px; }
    .computers_list .fields .ip, .equipments_list .fields .ip, .dptos_list .fields .ip, .subdptos_list .fields .ip {
      width: 40px; }
  .computers_list .fields td, .equipments_list .fields td, .dptos_list .fields td, .subdptos_list .fields td {
    border-right: 1px solid #ccc; }
  .computers_list .fields td:nth-last-child(2), .equipments_list .fields td:nth-last-child(2), .dptos_list .fields td:nth-last-child(2), .subdptos_list .fields td:nth-last-child(2) {
    border: none; }
  .computers_list .fields:hover .actions, .computers_list .fields:nth-child(2n+1):hover .actions, .equipments_list .fields:hover .actions, .equipments_list .fields:nth-child(2n+1):hover .actions, .dptos_list .fields:hover .actions, .dptos_list .fields:nth-child(2n+1):hover .actions, .subdptos_list .fields:hover .actions, .subdptos_list .fields:nth-child(2n+1):hover .actions {
    display: inherit; }
  .computers_list .fields .actions, .computers_list .fields:nth-child(2n+1) .actions, .equipments_list .fields .actions, .equipments_list .fields:nth-child(2n+1) .actions, .dptos_list .fields .actions, .dptos_list .fields:nth-child(2n+1) .actions, .subdptos_list .fields .actions, .subdptos_list .fields:nth-child(2n+1) .actions {
    float: right;
    position: inherit;
    margin: -1px -45px 0 0;
    padding: 3px 0;
    width: 60px;
    border-radius: 5px;
    border: 1px solid #ff9200 !important;
    box-shadow: 1px 1px 3px #999;
    display: none;
    background: #ffc373; }
    .computers_list .fields .actions a, .computers_list .fields:nth-child(2n+1) .actions a, .equipments_list .fields .actions a, .equipments_list .fields:nth-child(2n+1) .actions a, .dptos_list .fields .actions a, .dptos_list .fields:nth-child(2n+1) .actions a, .subdptos_list .fields .actions a, .subdptos_list .fields:nth-child(2n+1) .actions a {
      float: left;
      margin: 2px 0 0 9px; }
  .computers_list .fields:nth-child(2n+1) td, .equipments_list .fields:nth-child(2n+1) td, .dptos_list .fields:nth-child(2n+1) td, .subdptos_list .fields:nth-child(2n+1) td {
    padding: 5px;
    width: 160px;
    float: left;
    background: #5aa1db; }
  .computers_list .fields:nth-child(2n+1) td:first-child, .equipments_list .fields:nth-child(2n+1) td:first-child, .dptos_list .fields:nth-child(2n+1) td:first-child, .subdptos_list .fields:nth-child(2n+1) td:first-child {
    border-left-width: 0; }
  .computers_list .fields:nth-child(2n+1) td:nth-last-child(2), .equipments_list .fields:nth-child(2n+1) td:nth-last-child(2), .dptos_list .fields:nth-child(2n+1) td:nth-last-child(2), .subdptos_list .fields:nth-child(2n+1) td:nth-last-child(2) {
    border-right-width: 0px; }
  .computers_list .fields td:last-child, .computers_list .fields:nth-child(2n+1) td:last-child, .equipments_list .fields td:last-child, .equipments_list .fields:nth-child(2n+1) td:last-child, .dptos_list .fields td:last-child, .dptos_list .fields:nth-child(2n+1) td:last-child, .subdptos_list .fields td:last-child, .subdptos_list .fields:nth-child(2n+1) td:last-child {
    border: 0px; }
  .computers_list .fields:nth-child(2n+1) .ip, .equipments_list .fields:nth-child(2n+1) .ip, .dptos_list .fields:nth-child(2n+1) .ip, .subdptos_list .fields:nth-child(2n+1) .ip {
    width: 40px;
    text-align: center; }

.edit_computer .actions, .edit_equipment .actions, .edit_dpto .actions, .edit_subdpto .actions {
  display: inherit !important; }

.edit_computer, #new_computer, .edit_equipment, #new_equipment, .edit_dpto, #new_dpto, .edit_subdpto, #new_subdpto {
  width: 100%;
  padding: 0; }

.equipments_list {
  width: 600px; }

.computers_list {
  width: 780px; }

.dptos_list, .subdptos_list {
  width: 390px; }
  .dptos_list .actions, .subdptos_list .actions {
    width: 80px !important; }

.computers_list, .edit_computer, #new_computer, .equipments_list, .edit_equipment, #new_equipment, .dptos_list, .subdptos_list, .edit_dpto, #new_dpto, .edit_subdpto, #new_subdpto {
  float: left; }
  .computers_list thead, .edit_computer thead, #new_computer thead, .equipments_list thead, .edit_equipment thead, #new_equipment thead, .dptos_list thead, .subdptos_list thead, .edit_dpto thead, #new_dpto thead, .edit_subdpto thead, #new_subdpto thead {
    width: 100%;
    float: left; }
    .computers_list thead th, .edit_computer thead th, #new_computer thead th, .equipments_list thead th, .edit_equipment thead th, #new_equipment thead th, .dptos_list thead th, .subdptos_list thead th, .edit_dpto thead th, #new_dpto thead th, .edit_subdpto thead th, #new_subdpto thead th {
      float: left;
      width: 162px;
      text-align: center;
      margin: 0 0 -6px -2px; }
    .computers_list thead .ip, .edit_computer thead .ip, #new_computer thead .ip, .equipments_list thead .ip, .edit_equipment thead .ip, #new_equipment thead .ip, .dptos_list thead .ip, .subdptos_list thead .ip, .edit_dpto thead .ip, #new_dpto thead .ip, .edit_subdpto thead .ip, #new_subdpto thead .ip {
      width: 40px !important; }
  .computers_list .fields div, .computers_list .fields td, .edit_computer .fields div, .edit_computer .fields td, #new_computer .fields div, #new_computer .fields td, .equipments_list .fields div, .equipments_list .fields td, .edit_equipment .fields div, .edit_equipment .fields td, #new_equipment .fields div, #new_equipment .fields td, .dptos_list .fields div, .dptos_list .fields td, .subdptos_list .fields div, .subdptos_list .fields td, .edit_dpto .fields div, .edit_dpto .fields td, #new_dpto .fields div, #new_dpto .fields td, .edit_subdpto .fields div, .edit_subdpto .fields td, #new_subdpto .fields div, #new_subdpto .fields td {
    float: left;
    width: 160px;
    padding: 5px; }
    .computers_list .fields div input, .computers_list .fields div select, .computers_list .fields td input, .computers_list .fields td select, .edit_computer .fields div input, .edit_computer .fields div select, .edit_computer .fields td input, .edit_computer .fields td select, #new_computer .fields div input, #new_computer .fields div select, #new_computer .fields td input, #new_computer .fields td select, .equipments_list .fields div input, .equipments_list .fields div select, .equipments_list .fields td input, .equipments_list .fields td select, .edit_equipment .fields div input, .edit_equipment .fields div select, .edit_equipment .fields td input, .edit_equipment .fields td select, #new_equipment .fields div input, #new_equipment .fields div select, #new_equipment .fields td input, #new_equipment .fields td select, .dptos_list .fields div input, .dptos_list .fields div select, .dptos_list .fields td input, .dptos_list .fields td select, .subdptos_list .fields div input, .subdptos_list .fields div select, .subdptos_list .fields td input, .subdptos_list .fields td select, .edit_dpto .fields div input, .edit_dpto .fields div select, .edit_dpto .fields td input, .edit_dpto .fields td select, #new_dpto .fields div input, #new_dpto .fields div select, #new_dpto .fields td input, #new_dpto .fields td select, .edit_subdpto .fields div input, .edit_subdpto .fields div select, .edit_subdpto .fields td input, .edit_subdpto .fields td select, #new_subdpto .fields div input, #new_subdpto .fields div select, #new_subdpto .fields td input, #new_subdpto .fields td select {
      width: 100%;
      text-align: center; }
  .computers_list .fields .ip, .edit_computer .fields .ip, #new_computer .fields .ip, .equipments_list .fields .ip, .edit_equipment .fields .ip, #new_equipment .fields .ip, .dptos_list .fields .ip, .subdptos_list .fields .ip, .edit_dpto .fields .ip, #new_dpto .fields .ip, .edit_subdpto .fields .ip, #new_subdpto .fields .ip {
    width: 40px; }
    .computers_list .fields .ip input, .edit_computer .fields .ip input, #new_computer .fields .ip input, .equipments_list .fields .ip input, .edit_equipment .fields .ip input, #new_equipment .fields .ip input, .dptos_list .fields .ip input, .subdptos_list .fields .ip input, .edit_dpto .fields .ip input, #new_dpto .fields .ip input, .edit_subdpto .fields .ip input, #new_subdpto .fields .ip input {
      width: 40px; }
  .computers_list .fields .actions input, .edit_computer .fields .actions input, #new_computer .fields .actions input, .equipments_list .fields .actions input, .edit_equipment .fields .actions input, #new_equipment .fields .actions input, .dptos_list .fields .actions input, .subdptos_list .fields .actions input, .edit_dpto .fields .actions input, #new_dpto .fields .actions input, .edit_subdpto .fields .actions input, #new_subdpto .fields .actions input {
    width: auto; }

#new_computer .fields, #new_equipment .fields {
  background: none; }

.home_logo {
  text-align: center;
  margin: 0 0 50px 0; }
  .home_logo span {
    font-size: 40px;
    padding: 0;
    margin-top: -10px; }

.box {
  float: left;
  width: 100%;
  margin: 150px 0 50px 0;
  background: #fff;
  border: 10px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px 0; }

.home_container {
  width: 70%;
  margin: 0 auto; }
  .home_container .main_content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center; }

.home_links {
  margin: 0 auto;
  padding: 0;
  text-align: center; }
  .home_links li {
    display: inline-block;
    width: 160px;
    margin: 0 5px 10px 0; }
  .home_links a {
    float: left;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    width: 100%;
    background: #3f92d2;
    border-bottom: 4px solid #0b61a4;
    padding: 10px 15px;
    text-align: center;
    border-radius: 1px; }
  .home_links a:hover {
    background: #5aa1db;
    margin-top: -2px;
    border-bottom: 6px solid #0b61a4; }
  .home_links a:active {
    margin-top: 2px;
    border-bottom: 2px solid #0b61a4; }
