body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: 333; }

.computers_list {
  float: left;
  width: 100%;
  display: form;
    display-float: left;
    display-width: 100%; }
  .computers_list .fields {
    float: left;
    width: 100%; }
    .computers_list .fields td {
      padding: 5px;
      width: 150px;
      float: left;
      background: #fff;
      margin: 0 2px 0 0; }
    .computers_list .fields .ip {
      width: 40px;
      text-align: center; }
  .computers_list .fields:nth-child(2n+1) td {
    background: #e0f1ff;
    border: 1px solid #d8e7ed; }
